*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}
footer{
  width: 100vw;
}
body{
  background: #200742fd;
}
.social_m_links img{
  width: 2em;
  color: black;
}
.social_m_links{
  display: flex;
  justify-content: space-around;
  width: 20vw;
  align-items: center;
}
.intro_anim{
  margin-top: 2em;
  width: 100vw;
  display:flex;
  justify-content: space-around;
  align-items:center;
}
.left{
  width:60%;
}
.intro_anim p{
  font-size: 4em;
  color: white;
}
.intro_anim span{
  margin-top: 5em;
  font-size: 7em;
  font-weight: 600;
  color: blue;
  font-family: ubuntu;
}
nav{
padding: 10px 25px;
  top: 0;
  position: sticky;
  background: #7e1dfffd;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 80px;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.logo a{
  color: white;
  font-family: poppins;
  font-weight: 500;
  font-size: 1.5em;
}
.logo a b{
  font-weight: 900;
  color: #dd3232;
}
.right{
  width: 40%;
}
.right img{
  width: 90%;
}
.nav-links ul li a{
  color: white;
  font-weight: 400;
  border-radius: 1em;
  padding: 10px 25px;
}
.nav-links ul li a:hover{
  background: white;
  color: #000;
}
.nav-links ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 768px){
  .developer_img img{
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
}
 .nav-links{
    display: none;
  }
  .nav-links ul{
    height: 0;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-links.active ul{
    height: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
    width: 100%;
  }
  .nav-links ul li a{
    font-size: 1.5em;
    width: 70%;
    text-align: center;
  }
  .nav-links ul li{
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .nav-links.active{
    display: block;
  }
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .line{
    width: 35px;
    height: 5px;
    margin: 10px;
    background: white;
  }
  .navbar.active{
    height: 100vh;
    flex-direction: column;
  }
  .right{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    
  }
  .nav-links.active{
    height: 85vh;
    width: 100vw;
    display: flex;
    opacity: 1;
  }
  .intro_anim p{
  font-size: 2em;
}
.intro_anim span{
  font-size: 3em;
  font-weight: 500;
  color: blue;
  font-family: ubuntu;
}
.intro_anim{
  width: 100vw;
  display:flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-around;
  align-items:center;
}
}
@media only screen and (max-width: 480px){
  .nav-links{
    display: none;
  }
  .developer_img img{
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
}
  .nav-links ul{
    height: 0;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-links.active ul{
    height: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
    width: 100%;
  }
  .nav-links ul li a{
    font-size: 1.5em;
    width: 70%;
    text-align: center;
  }
  .nav-links ul li{
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .nav-links.active{
    display: block;
  }
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .line{
    width: 35px;
    height: 5px;
    margin: 10px;
    background: white;
  }
  .navbar.active{
    height: 100vh;
    flex-direction: column;
  }
  .right{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    
  }
  .nav-links.active{
    height: 85vh;
    width: 100vw;
    display: flex;
    opacity: 1;
  }
  .intro_anim p{
  font-size: 2em;
}
.intro_anim span{
  font-size: 3em;
  font-weight: 500;
  color: blue;
  font-family: ubuntu;
}
.social_m_links{
  display: flex;
  justify-content: space-around;
  width: 80vw;
}
.intro_anim{
  width: 100vw;
  display:flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-around;
  align-items:center;
}
}