*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}
nav{
  background: blue;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 80px;
  align-items: center;
}
.logo a{
  color: yellow;
  font-weight: 800;
  font-family: roboto;
  font-size: 1.5em;
}
.nav-links ul li a{
  color: white;
  font-weight: 400;
  border-radius: 1em;
  padding: 10px 25px;
}
.nav-links ul li a:hover{
  background: white;
  color: #000;
}
.nav-links ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 768px){
    .nav-links{
    display: none;
  }
  .nav-links.active{
    display: block;
  }
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .line{
    width: 35px;
    height: 5px;
    margin: 10px;
    background: white;
  }
  .navbar.active{
    height: 100vh;
  }
  .right{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 480px){
  .nav-links{
    display: none;
  }
  .nav-links ul{
    height: 0;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-links.active ul{
    height: 100%;
    opacity: 1;
  }
  .nav-links.active{
    display: block;
  }
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .line{
    width: 35px;
    height: 5px;
    margin: 10px;
    background: white;
  }
  .navbar.active{
    height: 100vh;
    flex-direction: column;
  }
  .right{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    
  }
  .nav-links.active{
    height: 80vh;
    width: 100vw;
    display: flex;
    opacity: 1;
  }
}